
.app {
    display: flex;
    flex-direction: row;
}

.category-select {
    width: 200px;
    display: inline;
}

.category-button {
    display: block;
    margin: 5px;
}

.quiz-container {
    width: max(calc(100% - 400px), 400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-container {
    margin: 5px;
}

.question-card {
    border: 1px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.answer-button {
    width: 300px;
    display: block;
    margin: 5px;
}